<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="csc4330.mike.dreamlink" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:name=".activities.DreamLinkApplication">

        <activity
            android:name=".activities.LoginScreen"
            android:label="@string/login_screen_menu" >

        </activity>
        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name" >
        </activity>

        <activity
            android:name=".activities.DreamFeed"
            android:label="@string/dream_feed_menu" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.RecordDream"
            android:label="@string/record_dream_menu" >
        </activity>

        <activity
            android:name=".activities.DreamInterpreter"
            android:label="@string/app_name" >
        </activity>

        <activity
            android:name=".activities.SignupActivity"
            android:label="@string/app_name" >
        </activity>

        <activity android:name="com.facebook.FacebookActivity"
            android:configChanges=
                "keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:label="@string/app_name" />

        <meta-data android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebookAppId"/>

    </application>

</manifest>
